example_01/slices
./example_01/values
./example_01/format.go
experiments/
lab/ios-7200
lab/netbox-docker
lab/docker-routeros
vendor

lab/annet/netsshsetup
lab/topologies/*/src/ios-7200
lab/topologies/*/src/dynamips_log.txt
lab/topologies/*/src/ilt*
lab/topologies/*/src/next-hop-lab
lab/topologies/*/src/netbox_data

lab/topologies/*/operational_configs/*
!lab/topologies/*/operational_configs/.gitkeep
vm_images
!vm_images/.gitkeep

.idea/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
